{% extends 'base.html.twig' %}

{% block title %}Tags - {{ parent() }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
    <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
            <th scope="row">
                <a href="{{ path('admin_show_tags_single', {'id': tag.id}) }}">
                    {{ tag.name }}
                </a>
            </th>
            <td>
                <a href="{{ path('admin_edit_tags', {'id': tag.id}) }}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{{ path('admin_delete_tags', {'id': tag.id}) }}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <a href="{{ path('home') }}" class="previous-link col-12 text-center">Retour a l'acceuil</a>
</div>
{% endblock %}
